<% if (error && error.length > 0) { %>
  <div class="flash flash-error">
    <% error.forEach(function(message) { %>
      <p><%= message %></p>
    <% }) %>
  </div>
<% } %>

<% if (success && success.length > 0) { %>
  <div class="flash flash-success">
    <% success.forEach(function(message) { %>
      <p><%= message %></p>
    <% }) %>
  </div>
<% } %>
